
@import url('https://fonts.cdnfonts.com/css/marvin');
/* 
*{
    padding: 0;
    margin: 0;
} */
:root {
    --fa-border-color: red;
    --fa-primary-color: green;
    --fa-secondary-color: red;
    --fa-line-height: 0.9;
}

body{
    display: flex;
    font-family: 'Marvin', sans-serif;
                                                
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    background-image: url('./images/background.png');
    background-repeat: repeat;
    background-size: 500px; /* Adjust this value based on your image size */
    position: relative;
    height: 100vh;
    background-color: #44A8FF;
    margin-top: 90px;
}

h3{
    text-align: center;
}

.title2{
    text-shadow: -1px -1px 0 #08f, 1px -1px 0 #08f, -1px 1px 0 #08f, 3px 3px 0 #08f;
    letter-spacing: .02em;
    padding: 0;
    color: #FFFFFF;
}


.wrapper{
    display: flex;
    justify-content: center;
    border: 6px solid #8BC9FF;
    border-radius: 10px;
    background-color: #44a8ff92;
    height: auto;
    max-width: 800px;
    margin: auto;
    /* overflow-y: auto; */
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.select-wrapper{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}

.roll-area {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.dice {
    flex: 1 0 calc(16.6667% - 15px); /* Set initial width, subtracting margin */
    max-width: calc(16.6667% - 15px); /* Set maximum width */
    box-sizing: border-box;
    text-align: center;
    height: 80px;
    color: #ffffff;
}

.bi-trianble{
    color: white;
}

/* svg{
    position: absolute;
} */
.four-sided{
    display: flex;
    align-items: center;
}

.four-result{
    position: absolute;
    left: 50%
}

select{
    padding: 10px;
    border: 3px solid #0088FF;
    border-radius: 3px;
    color: #0088FF;
    width: 18rem;
}
.roll-button{
    padding: 10px;
    color: #FFFFFF;
    background-color: #FFE453;
    border: 3px solid #ffffff;
    border-radius: 5px;
    width: 15rem;
    text-shadow: -1px -1px 0 #ca8a00, 1px -1px 0 #ca8a00, -1px 1px 0 #ca8a00, 2px 2px 0 #ca8a00;
}

.roll-button:hover{
    padding: 10px;
    color: #FFFFFF;
    background-color: #FFE453;
    border: 3px solid #ffffff;
    border-radius: 5px;
    width: 15rem;
    text-shadow: -1px -1px 0 #ca8a00, 1px -1px 0 #ca8a00, -1px 1px 0 #ca8a00, 2px 2px 0 #ca8a00;
    background: rgb(0,0,0);
background: -moz-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(226,202,75,1) 0%, rgba(255,228,80,1) 36%, rgba(255,241,163,1) 100%, rgba(252,252,252,1) 100%);
background: -webkit-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(226,202,75,1) 0%, rgba(255,228,80,1) 36%, rgba(255,241,163,1) 100%, rgba(252,252,252,1) 100%);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(226,202,75,1) 0%, rgba(255,228,80,1) 36%, rgba(255,241,163,1) 100%, rgba(252,252,252,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#fcfcfc",GradientType=1);
}

.roll-button-wrapper{
    display: flex;
justify-content: center;
}

.logo-image{
    height: 58px;
    width: 360px;
    margin: 20px;
}
.result-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

#result{
    background: rgba(255,255,255,1);
    color: #08f;
    border: 3px solid #08f;
    height: 50px;
    width: 140px;
    display: flex;
    justify-content: center;
}

.four-sided-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 4rem;
    row-gap: 0;
    height: 100%;
    width: 100%;
}


/* four sided dice */
.four-sided {
    justify-content: center;
    align-items: center;
  }

  .four-sided-number{
    position: absolute;
    font-size: 2rem;
    color: white;
    padding-top: 1.5rem;
  }

  .bi-triangle{
    color: white;
    font-size: 5rem;
  }
  

/* eight sided dice */

.eight-sided {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .eight-sided-number{
    position: absolute;
    font-size: 2rem;
    color: white;
  }

  .bi-diamond{
    color: white;
    font-size: 5rem;
  }

  /* ten sided dice */

  .ten-sided {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ten-sided-number{
    position: absolute;
    font-size: 2rem;
    color: white;
  }

  .bi-pentagon{
    color: white;
    font-size: 5rem;
  }

  /* twelve sided dice */

  .twelve-sided {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .twelve-sided-number{
    position: absolute;
    font-size: 2rem;
    color: white;
  }

  .bi-hexagon{
    color: white;
    font-size: 5rem;
  }

  /* twenty sided dice */

  .twenty-sided {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .twenty-sided-number{
    position: absolute;
    font-size: 2rem;
    color: white;
  }

  .bi-octagon{
    color: white;
    font-size: 5rem;
  }
