*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    font-family: marvin;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    background-image: url('./images/background.png');
    background-repeat: repeat;
    background-size: 500px; /* Adjust this value based on your image size */
    position: relative;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-wrapper{
    display: flex;
    flex-direction: row;
    gap: 30rem;
    justify-content: center;
}

.roll-area {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    justify-content: center;
}

.dice {
    flex: 1 0 calc(16.6667% - 15px); /* Set initial width, subtracting margin */
    max-width: calc(16.6667% - 15px); /* Set maximum width */
    box-sizing: border-box;
    text-align: center;
    height: 100%;
    padding: 10px;
}

/* .icon{
    border: 5px solid red;
    border-radius: 20px;
    height: 100%;
} */